<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>gomd: {{.File}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/simplemde.min.css">
    <script src="static/js/simplemde.min.js"></script>
</head>
<body>
    <form method="post">
        <textarea name="content">{{.Content}}</textarea>
        <button type="submit">Save</button>
    </form>
    <script>var simplemde = new SimpleMDE({autoDownloadFontAwesome: false, spellChecker: false});</script>
</body>
</html>
